* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee Hairline';
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
  outline: none;
}

p {
  margin: 0;
}

form {
  display: flex;
  align-items: center;
  max-width: 500px;
  justify-content: center;
  margin: 30px 0;
}

input[type='text'] {
  max-width: 400px;
  height: 50px;
  background-color: transparent;
  font-size: 36px;
  color: white;
  font-family: 'Bungee Hairline';
  border: none;
  border: 1px solid #ffea49;
  border-right: none;
  padding: 0 10px;
}

button {
  height: 50px;
  line-height: 20px;
  font-size: 20px;
  background-color: #ffea48;
  border: 1px solid #ffea48;
  border-radius: 0;
  font-family: 'Bungee Hairline';
}

button:hover {
  background-color: #000;
  color: #ffea48;
}

.large {
  font-size: 96px;
  margin: 0;
}

.hide {
  opacity: 0;
}

.remove,
.welcome.remove,
.game-over.remove,
.high-score.remove {
  display: none;
}

.welcome,
.game-over,
.high-score {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  transition: opacity 1s;
  overflow-x: hidden;
  overflow-y: auto;
}

.welcome {
  font-size: 96px;
}

.controls {
  display: flex;
  margin-top: 80px;
  width: 100%;
  font-size: 24px;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 30px;
}

figcaption {
  margin-top: 10px;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 60px;
  padding: 10px;
  background: #000;
  border: 1px solid #fff;
  color: #4ef7da;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.play:hover {
  background: #4ef7da;
  color: #000;
  border: 1px solid #4ef7da;
}

.counters {
  padding: 0 20px;
  position: fixed;
  top: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.5s;
}

.score,
.lives {
  width: 200px;
  font-size: 20px;
  top: 20px;
}

.score {
  text-align: left;
}

.lives {
  text-align: right;
}

.game-over,
.high-score {
  font-size: 36px;
}

.high-score ol {
  text-align: left;
  list-style-position: inside;
  list-style-type: decimal-leading-zero;
  margin: 0;
  padding: 0;
  font-size: 28px;
  width: 25vw;
}

.high-score li {
  width: 100%;
  position: relative;
}

.high-score li span:first-child {
}

.high-score li span:last-child {
  position: absolute;
  right: 0;
  text-align: right;
}
