* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee Hairline';
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
canvas {
  width: 100vw;
  height: 100vh;
  outline: none;
}

.score,
.lives,
.game-over {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ff,
    0 0 35px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 75px #ff00ff;
}

.score,
.lives {
  font-size: 20px;
  position: fixed;
  top: 20px;
}

.score {
  left: 20px;
}

.lives {
  right: 20px;
}

.game-over {
  font-size: 36px;
  position: fixed;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.large {
  font-size: 96px;
  margin: 0;
}
